// LAYOUT

* + * {
    margin: 0 auto;
    margin-top: 8px;
}

p + p {
    padding-top: 16px;
}

.container{
    width: 100%;
    min-height: 100vh;
    padding: 8px 16px;
    margin: 0 auto;
}

.content{
    width: 100%;
    margin: 0 auto;
    padding: 8px 0;
    max-width: var(--max-width);
    // border: 1px solid red;
}

.content__left, .content__right{
    flex: 0 0 49%;
}

.order-s1-m2{
    order: 0;
    @media only screen and (min-width: $small){
        order: 1;
    }
}
.order-s2-m1{
    order: 1;
    @media only screen and (min-width: $small){
        order: 0;
    }
}

.flex-cc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.align-start-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

// flex for two

.flex-two-col{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (max-width: $small){
        flex-direction: column;
    }
}

.grid-2-col{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 8px;
    place-items: center center;
}

// Flex direction
.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}
