// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

*,*::before,*::after{
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ul,ol,li,p,pre,blockquote,figure,hr{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

input,textarea,select,button{
    color: inherit;
    font: inherit;
    letter-spacing: inherit;
}

button * {
    pointer-events: none;
    touch-action: none;
}

embed,
iframe,
object,
video {
    display: block;
}

table{
    table-layout: fixed;
    width: 100%;
}

[hidden] {
    display: none !important;
}

a{
    text-decoration: none;
    color: white;
}


footer{
    padding: 0;
    margin: 0;
}