@import "variables";
@import "reset";
@import "tipography";
@import "layout";
@import "slider";
@import url("https://use.typekit.net/gmy5mcq.css");

@import"components/button";
@import"components/form";

// @import url("https://use.typekit.net/gmy5mcq.css");

// Global

// img{
//     width: 100%;
// }

body{
    background-color: rgb(8, 108, 167);
}

.txt-center{
    text-align: center;
}

.center{
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.padding-1{
    padding: 1em 0;
}

.rotate{
    position: absolute;
    transform: rotate(270deg);
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 0;
}

.white-circle{
    position: absolute;
    width: 96px;
    height: 96px;
    border: 1px solid black;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    top: 12px;
    left: 0;
    right: 0;
    text-align: center;
}

.response-box{
    border-radius: 18px;
    padding: 2em;
    box-shadow: 0px 3px 18px 3px rgba(0,0,0,.2);
    width: 100%;
    max-width: 360px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    animation-name: show;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

@keyframes show {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}


.load-animate{
    animation-name: load-animate;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes load-animate {
    0%{ transform: rotate(0); }
    100%{ transform: rotate(360deg); }
}

.response-box img{
    width: 100%;
    max-width: 80px;
}

.padding-bottom{
    padding-top: .5em;
    padding-bottom: .4em;
}

// .resp-container {
//     position: relative;
//     overflow: hidden;
//     padding-top: 56.25%;
// }

// iframe{
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: 0;
// }


.branding{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: flex-start;
    &_logo{
        width: 120px;
        margin-bottom: 14px;
    }
    &--ruleta{
        .branding_message{
            width: 60%;
            @media only screen and (max-width: $small){
                display: none;
            }
        }
    }
}

.sliders__intructions{
    padding: 8px 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        width: 18px;
    }
    p{
        font-size: 10px;
        margin-left: 8px;
    }
}

.number{
    --number-bg : var(--clr-primary);
    --number-clr : white;
    --number-size : 32px;

    width: var(--number-size);
    height: var(--number-size);
    border-radius: 25px;
    background-color: var(--number-bg);
    color: var(--number-clr);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.rrss{
    width: 100%;
    margin: 0 auto;
    text-align: center;
    a{
        margin: 8px;
    }
    img{
        width: 100%;
        max-width: 24px;
    }
}

.footer__branding{
    width: 160px;
    margin-bottom: 16px;
}